<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../general/head.ejs")  %> 
</head>
<body>
    <div class="container">
        <%- include("../general/navbar.ejs")  %> 
        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>
</body>
</html>