<ul class="list-group">
    <div>
        <li class="list-group-item d-flex justify-content-between align-items-center" id="layout_MATH">
            Math
            <span class="badge badge-primary badge-fill" id="MATH"></span>
        </li>
    </div>
    <div>
        <li class="list-group-item d-flex justify-content-between align-items-center" id="layout_LITERATURE">
            Literature
            <span class="badge badge-primary badge-fill" id="LITERATURE"></span>
        </li>
    </div>
    <div>
        <li class="list-group-item d-flex justify-content-between align-items-center" id="layout_PHYSICS">
            Physics
            <span class="badge badge-primary badge-fill" id="PHYSICS"></span>
        </li>
    </div>
    <div>
        <li class="list-group-item d-flex justify-content-between align-items-center" id="layout_ENGLISH">
            English
            <span class="badge badge-primary badge-fill" id="ENGLISH"></span>
        </li>
    </div>
    <div>
        <li class="list-group-item d-flex justify-content-between align-items-center" id="layout_CHEMISTRY">
            Chemistry
            <span class="badge badge-primary badge-fill" id="CHEMISTRY"></span>
        </li>
    </div>
    <div>
        <li class="list-group-item d-flex justify-content-between align-items-center" id="layout_HISTORY">
            History
            <span class="badge badge-primary badge-fill" id="HISTORY"></span>
        </li>
    </div>
    <div>
        <li class="list-group-item d-flex justify-content-between align-items-center" id="layout_GEOGRAPHY">
            Geography
            <span class="badge badge-primary badge-fill" id="GEOGRAPHY"></span>
        </li>
    </div>
    <div>
        <li class="list-group-item d-flex justify-content-between align-items-center" id="layout_COMPUTERSCIENCE">
            Computer Science
            <span class="badge badge-primary badge-fill" id="COMPUTERSCIENCE"></span>
        </li>
    </div>
    <div>
        <li class="list-group-item d-flex justify-content-between align-items-center" id="layout_P_E">
            P&E
            <span class="badge badge-primary badge-fill" id="P_E"></span>
        </li>
    </div>
    <div>
        <li class="list-group-item d-flex justify-content-between align-items-center" id="layout_SH">
            Sinh học
            <span class="badge badge-primary badge-fill" id="SH"></span>
        </li>
    </div>
    <div>
        <li class="list-group-item d-flex justify-content-between align-items-center" id="layout_GDCD">
            GDCD
            <span class="badge badge-primary badge-fill" id="GDCD"></span>
        </li>
    </div>
    <div>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            ...
            <span class="badge badge-primary badge-fill" id="..."></span>
        </li>
    </div>      
</ul>
