<nav class="navbar nav-tabs navbar-expand-lg navbar-primary bg-dark">
    <div class="collapse navbar-collapse">
        <a class="navbar-brand" id="MINE" href="../../about">
            <img src="/img/L.jpg" width="30" height="30">
        </a>

        <ul class="navbar-nav nav-pills nav-fill mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="../../">Home</a>
            </li>
            <li class="nav-item">
                <a id="UserAbout" class="nav-link" href="../../about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../nofication">Nofication</a>            
            </li>
        </ul>

        <form class="form-inline my-10 my-sm-0" method="GET">
            <input id="Search" class="form-control mr-sm-2" type="search" name="subjects" placeholder="Search...">
            <input class="Grade" type="hidden" name="grade" value="">
            <!--Hidden grade-->
            <button class="btn btn-outline-success my-10 my-sm-0" type="submit" aria-label="Search">Search</button>
        </form>    
    </div>
</nav>